@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}
html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	/* text-align: center; */
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
	/* padding: 0 30px; */
}

/*The widths are in a percentage!*/
header {
	height: auto;
	width: 100%;
	/* border-bottom: 3px solid #77a466; */
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	/* float: left; */
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	/* float: right; */
	padding: 46px 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;


}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;


	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	text-align: center;
	padding: 0 10px;
	line-height: 3em;
	
	/* display: inline; */
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;

}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.main-image {
	height: auto;
	width: 75%;

	
	/* float: left; */
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	height: auto;
	width: 75%;
	/* float: left; */
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-two,
.section-three {
	width: 75%;
	height: auto;
	/* float: left; */
	border-top: 1px solid #eeeeee;
}

.section-one h4 {
	padding: 10px 0;
}

/* .section-two {
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
} */

.section-two h4,
.section-three h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333333;
	font-size: 1em;
	line-height: 1.313em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
