@font-face {
	font-family: 'Wisdom Script';
	src: url("../fonts/wisdom-script.otf") format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container {
	max-width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
	width: 100%;
	text-align: center;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
}

header {
	height: auto;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	text-align: center;
	padding: 0 10px;
	line-height: 3em;
}

header nav ul li a {
	text-decoration: none;
	color: #77a466;
}

.bottom-section,
.top-section {
	margin: 0 auto;
	clear: both;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-image {
	height: auto;
	width: 90%;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	width: 90%;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-three,
.section-two {
	width: 90%;
	height: auto;
	border-top: 1px solid #eeeeee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-three h4,
.section-two h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color: #77a466;
}

.reviews {
	color: #333333;
	font-size: 1em;
	line-height: 1.313em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

footer {
	height: 50px;
	border-top: 3px solid #eeeeee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
/* Responsive breakpoints */
/* Tablet styles */
@media all and (min-width:768px) {
	.section-one {
		width: 30%;
	}

	.section-two {
		width: 30%;
		justify-content: center;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;
	}

	.section-two p {
		width: 90%;
		padding-left: 15px;
	}

	.section-two h4 {
		padding-left: 15px;
	}

	.section-three {
		width: 30%;
	}

	.section-three h4 {
		padding-left: 15px;
	}

	.section-three p {
		padding-left: 15px;
	}

	.bottom-section {
		align-items: flex-start;
		width: 100%;
	}
	/* Desktop styles */
	@media all and (min-width:1200px) {
		header {
			flex-flow: row;
			justify-content: flex-start;
		}

		header h1 {
			margin: 0;
			padding: 38px 0;
			border-bottom: 0;
			text-align: left;
		}

		header nav {
			justify-content: flex-end;
		}

		header nav ul {
			display: flex;
			justify-content: space-between;
		}

		.section-one,
		.section-three,
		.section-two {
			float: left;
		}
	}